* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    color: #404040;
    /* background-color: #ffffff; */
    font-size: 1rem;
}

/* SECTION PROJECT */
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    background-color: #f8f9fa;
}

.project-title {
    text-align: center;
    max-width: 100%;
}

.project-title p {
    color: #7e7d7d;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.project-title h3 {
    font-size: 32px;
    line-height: 40px;
}

.project-content a.zoom {
    position: relative;
    overflow: hidden;
}

.project-content a.zoom img {
    transition: transform 0.5s ease;
    opacity: 1;
    height: auto;
    display: block;
    max-width: 100%;
}

.project-content a.zoom:hover img {
    transform: scale(1.1);
}

.overlay-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d2a37b3;
}

.project-content a.zoom:hover .overlay-hover {
    opacity: 1;
}

.lb-dataContainer {
    padding-top: 2rem;
}

.lb-data .lb-caption {
    color: #fff;
}

.lb-data .lb-number {
    padding-top: 2rem;
    color: #009f4d;
}



.overlay-hover .text {
    color: #ffffff;
    position: absolute;
    padding: 50px 40px;
    bottom: -100%;
    z-index: 2;
    transition: all 0.5s;
}

.overlay-hover .text .title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.overlay-hover .text .content {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.project-content a.zoom:hover .text {
    opacity: 1;
    bottom: -15%;
}

.company-logo {
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.company-logo img {
    padding: 0 18px;
    max-width: 100%;
}

.radius-image {
    border-radius: 8px;
}

/* /SECTION PROJECT */

/* SECTION PROJECT-PROGRESS */
.title-small {
    font-size: 14px;
    font-weight: 600;
    color: #7e7d7d;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
}

.title-big {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    display: block;
}

h3 {
    color: #3f3a64;
    margin: 0;
    padding: 0;
}

.progress-info {
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}

.progress-title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: #3f3a64;
    margin-bottom: 10px;
}

.info1 .progress-title {
    width: 80%;
}

.info2 .progress-title {
    width: 95%;
}

.info3 .progress-title {
    width: 60%;
}

.info4 .progress-title {
    width: 85%;
}

.progress-info .progress {
    height: 4px;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}

.progress .progress-bar {
    background-color: #009f4d;
}

.progress .progress-bar-striped {
    background-size: cover;
    background-image: none;
}

.progress .gradient-1 {
    color: #61fded;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.progress .gradient-1:before {
    content: "";
    position: absolute;
    left: 80%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-1:after {
    content: "";
    position: absolute;
    right: 20%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}

.progress .gradient-2 {
    color: #eece90;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.progress .gradient-2:before {
    content: "";
    position: absolute;
    left: 95%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-2:after {
    content: "";
    position: absolute;
    right: 5%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(75%, 0%);
}

.progress .gradient-3 {
    color: #5c51ff;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.progress .gradient-3:before {
    content: "";
    position: absolute;
    left: 60%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-3:after {
    content: "";
    position: absolute;
    right: 40%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}

.progress .gradient-4 {
    color: #e5529a;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.progress .gradient-4:before {
    content: "";
    position: absolute;
    left: 85%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-4:after {
    content: "";
    position: absolute;
    right: 15%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}

.progress-title span {
    font-size: 18px;
}

/* /SECTION PROJECT-PROGRESS */

/* SECTION TESTIMONIAL */
.testimonial {
    background-color: #f8f9fa;
}

.testimonial .title-small {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #7e7d7d;
    display: block;
    letter-spacing: 1px;
}

.testimonial .title-big {
    font-size: 32px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 0 0 48px;
}

.testimonial-content {
    max-width: 900px;
    margin: auto;
    padding: 40px 30px;
    display: block;
    position: relative;
}

.carousel-content .intro {
    margin-bottom: 1.5em;
}

.carousel-inner .intro p {
    font-size: 15px;
    line-height: 28px;
    color: #666;
    opacity: 0.8;
    height: 84px;
}

.carousel-inner .name {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;
    margin-bottom: 80px;
}

.carousel-inner .name .img-fluid {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.testimonial-text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.testimonial-text p {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    text-align: left;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #213364;
    margin-right: 8px;
    display: inline-block;
    border: none;
}

.carousel-indicators li.active {
    width: 13px;
    height: 13px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #213364;
    margin-right: 8px;
    display: inline-block;
    border: none;
}

/* /SECTION TESTIMONIAL */

/* SECTION BLOG */

.blog-title h3.title-big {
    margin-bottom: 48px;
}

.blog-content .card a.zoom {
    position: relative;
    overflow: hidden;
}

.blog-content .card-header a.zoom img {
    transition: transform 0.5s ease;
    opacity: 1;
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.blog-content .item:hover .card-header a.zoom img {
    transform: scale(1.1);
}

.card {
    overflow: hidden;
    border: 1px solid transparent;
}

.card-body {
    padding: 20px;
}

.card-header {
    padding: 0;
    border: transparent;
}

.card-body p a {
    font-size: 17px;
    font-weight: 400;
    color: #999;
    text-decoration: none;
}

.card-body a.detail {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.card-body .detail:hover {
    color: #00a63f;
    transition: all 0.5s;
}

.card-body .detail {
    font-size: 20px;
    font-weight: 600;
    color: #3f3a64;
    line-height: 28px;
}

.card-footer {
    background-color: #fff;
    border-top: 1px solid #eee;
}

.card-footer .author {
    display: grid;
    grid-template-columns: auto 0.8fr auto;
    grid-gap: 10px;
}

.card-footer .img-fluid {
    border-radius: 50%;
}

li {
    list-style: none;
}

ul {
    margin-bottom: 1px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 27px;
    opacity: 0.8;
    font-size: 17px;
}

.card-footer ul li span {
    font-size: 15px;
    font-weight: 600;
    color: #666;
    opacity: 0.6;
}

.card-footer ul li a {
    line-height: 26px;
    color: #3f3a64;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.card-footer ul li a:hover {
    color: #009f4d;
    transition: all 0.5s;
}

.card-footer .date p {
    font-size: 15px;
}

/* /SECTION BLOG */

/* SECTION SUBSCRIBE */
/* Nếu để 
.subscribe{
background-image: url(../img/map.png);
}
thì hình background sẽ ở section chính
vào trong thẻ input, do trùng tên class "subscribe"*/

section.subscribe {
    background-image: url(../img/map.png);
    background-color: #151421;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

section.subscribe .container {
    padding: 4rem 0;
}

.subscribe .container {
    text-align: center;
}

.subscribe-content {
    display: inline-block;
    max-width: 700px;
}

.subscribe .title h3 {
    color: #fff;
    font-size: 32px;
}

.subscribe .title p {
    color: #eee;
    /* padding: 0 3rem 0 0; */
}

form.subscribe {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
    position: relative;
    background-color: transparent;
    padding-top: 3rem;
}

.subscribe-content .input-group-text {
    color: #999;
    background-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 15px;
    border-color: rgba(255, 255, 255, 0.15);
}

.subscribe-content .input-group-text .icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    width: 16px;
    height: 16px;
    color: #999;
    opacity: 0.8;
}

.subscribe-content input {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
    width: 100%;
    color: #fff;
}

.subscribe-content button.btn {
    padding: 0 25px;
    font-size: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 600;
    background-color: #00a63f;
    color: #fff;
    border: 1px solid #00a63f;
}

/* /SECTION SUBSCRIBE */

/* SECTION FOOTER */
.footer {
    background-color: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer-content .item1,
.footer-content .item2 {
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}

.footer-content .item3,
.footer-content .item4 {
    flex: 0 0 calc(100%/3/2);
    max-width: calc(100%/3/2);
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-content .footer-navbar {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

.footer-navbar .fa {
    color: #009f4d;
    margin-right: 5px;
    font-size: 30px;
}

.footer-navbar .slogan {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding-left: 46px;
    opacity: 0.9;
}

.footer p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    margin-bottom: 20px;
}

.footer a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.7;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    transition: all 0.5s;
}

.footer .fa:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    transition: all 0.5s;
}

.footer-social .fa {
    font-size: 16px;
    opacity: 0.6;
    display: inline-block;
    margin-right: 15px;
    color: #97a1a9;
}

.footer .footer-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #fff;
}

.footer li {
    margin-bottom: 10px;
}

.copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright a {
    color: #009f4d;
    font-size: 17px;
}

.copyright p {
    margin-bottom: 0;
    font-size: 17px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

#moveToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #009f4d;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    z-index: 99;
    outline: none;
    cursor: pointer;
    transition: ease-out 0.3s;
}

button span {
    color: #fff;
}

/* /SECTION FOOTER */

/* RESPONSIVE */
/* Small devices */
@media only screen and (max-width: 290px) {
    .carousel-inner .name {
        margin-top: 144px !important;
    }
}

@media only screen and (max-width: 332px) {
    .carousel-inner .name {
        margin-top: 128px !important;
    }
}

@media only screen and (max-width: 405px) {
    .testimonial .title-big {
        line-height: 32px;
    }

    .testimonial-content {
        padding: 20px 0;
    }
}

@media only screen and (max-width:531px) {
    .carousel-inner .name {
        margin-top: 104px;
    }

    .footer-content .item1,
    .footer-content .item2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-content .item3,
    .footer-content .item4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width:568px) {
    h3.title-big {
        font-size: 30px !important;
        line-height: 38px;
    }
}

@media only screen and (max-width:415px) {
    h3.title-big {
        font-size: 26px !important;
        line-height: 32px;
    }

    .footer p {
        margin-bottom: 20px;
        font-size: 20px;
    }
}

@media only screen and (max-width:375px) {
    h3.title-big {
        font-size: 24px !important;
        line-height: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .card-body a.detail {
        font-size: 18px;
        line-height: 26px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 532px) {
    .project-content .row .item {
        margin-top: 2rem !important;
    }

    .carousel-inner .name {
        margin-top: 80px;
    }

    .testimonial .title-big {
        margin-bottom: 40px;
    }

    .subscribe .title p {
        margin-top: 2rem;
    }

    .footer-content .item1,
    .footer-content .item2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-content .item3,
    .footer-content .item4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-content .item2,
    .footer-content .item3,
    .footer-content .item4 {
        margin-top: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .carousel-inner .name {
        margin-top: 5rem;
    }

    .content-right.col-lg-6.col-md-12.col-sm-12 {
        margin-top: 4rem;
    }

    .subscribe .title p {
        margin-top: 2rem;
    }

    .footer-content .item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-content .item3,
    .footer-content .item4 {
        margin-top: 4rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer-content .item2 {
        padding-right: 8rem !important;
    }

    .footer .footer-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .row .col-lg-2 {
        flex: 0 0 calc(100%/3/2);
        max-width: calc(100%/3/2);
    }

    .row .col-lg-4 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }

    .footer-content .item2,
    .footer-content .item3,
    .footer-content .item4 {
        margin-top: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .testimonial h5.title-small {
        margin: 0 0 15px;
    }

    .testimonial h3.title-big {
        margin: 0 0 50px;
    }
}
/* OVERLAY-HOVER:TEXT */

@media only screen and (max-width: 767px) {
    .overlay-hover .text {
        padding: 100px 40px !important;
        bottom: -100%;
    }

    .overlay-hover .text .title {
        font-size: 24px !important;
    }

    .overlay-hover .text .content {
        font-size: 18px;
    }
}

@media only screen and (max-width: 478px) {
    .overlay-hover .text {
        padding: 80px 40px !important;
        bottom: -100%;
    }

    .overlay-hover .text .title {
        font-size: 22px !important;
    }

    .overlay-hover .text .content {
        font-size: 15px !important;
    }
}

/* Ngoc */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #404040;
    line-height: 1.5;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #fff;

}

/* HEADER */
#header {
    z-index: 50;
}

.Corpvision__header {
    transition: all 0.4s ease 0s;
    height: 6.25rem;
    z-index: 20;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);


}

.Corpvision__header .Corpvision__nav {
    padding: 18px 0;
}

.Corpvision__header .navCorpvision {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;

}

.Corpvision__header #navbarCorpVision .nav-item .nav-link {
    color: #3f3a64;
    font-weight: bolder;
    font-size: 0.99rem;
}

#navbarCorpVision .nav-item .nav-link.active {
    color: #fff;
    opacity: 1;
}

#navbarCorpVision .nav-item .nav-link.active1 {
    color: #fff;
    opacity: 0.5;
}

.Corpvision__header .navCorpvision .navCorpvision__icon {
    line-height: 100%;
    cursor: pointer;
}

.Corpvision__header .navCorpvision .navCorpvision__icon i {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
    cursor: pointer;
}

.Corpvision__header .navCorpvision .navCorpvision__icon span {
    font-size: 2rem;
}

.Corpvision__header .navCorpvision .navCorpvision__text {
    text-transform: none;
    display: block;
    font-size: 15px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
    cursor: pointer;
}

#navbarCorpVision .nav-item {
    transition: all 0.5s ease;
}

#navbarCorpVision .nav-item .nav-link {
    transition: all 0.6s ease;
    opacity: 0.8;
    line-height: 0.7rem;
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0 5px;
    cursor: pointer;

}

#navbarCorpVision .nav-item .nav-link:hover {
    opacity: 1;
}

.Corpvision__header .navDropdown {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 11px 12px 11px 3px;
}

.Corpvision__header .navDropdown .dropdown-item {
    font-size: 0.9rem;
    color: #3f3a64;
    background: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.Corpvision__header .navDropdown .dropdown-item:hover {
    opacity: 1;
}

.Corpvision__navsearch .iconf i {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #009f4d;
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
}

.Corpvision__navsearch .icons {
    font-size: 1.3rem;
    color: #fff;
}

.sticky {
    background-color: #fff;
}

.sticky #scrollColor a p {
    color: #3f3a64;
}

.sticky .Corpvision__navsearch .icons,
.sticky #header .navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3a64 !important;
}

.sticky #navbarCorpVision .nav-item .nav-link.active {
    color: #009f4d;
}

.sticky #navbarCorpVision .nav-item .nav-link.active1 {
    color: #3f3a64;
    opacity: 0.8;
}

.Corpvision__header .navbar-toggler {
    color: #fff;
    background-color: #009f4d;
    line-height: 1;
    padding: .35rem .6rem;
}

.Corpvision__header .navDropdown::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #fff;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

/* CAROUSEL */
.Corpvision__carousel {
    height: auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#carouselCorpvision .carousel-caption {
    text-align: left;
    top: 50%;
    left: 14%;
    transform: translateY(-60%);

}

#carouselCorpvision .carousel-caption h1 {
    font-size: 4.0625rem;
    line-height: 1.1;
    margin-bottom: 18px;
    max-width: 800px;
    font-weight: 600;

}

#carouselCorpvision .carousel-caption p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 600px;
    letter-spacing: 0.010em;
    opacity: .9;
}

#carouselCorpvision .carousel-caption button {
    margin-top: 1rem;
    padding: 10px 45px;
    border-radius: 8px;
    transition: all 0.5s;
}

#carouselCorpvision .carousel-indicators li {
    display: none;
}

#carouselCorpvision .carousel-indicators img {
    height: 100vh;
    position: relative;
}

.Corpvision__carousel #carouselCorpvision .carousel-item {
    position: relative;
}

.Corpvision__carousel #carouselCorpvision .carousel__overlay {
    background: rgb(29 42 55 / 70%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.Corpvision__carousel .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;

}

#carouselCorpvision img {

    width: 100vw;
}

.Corpvision__carousel .shape path {
    fill: #fff;
}

.Corpvision__carousel .carousel-inner .animate14 h1 {
    animation-delay: 0.8s;
    animation-duration: 1s;
}

.Corpvision__carousel .carousel-inner .animate14 p {
    animation-duration: 1s;
}

.Corpvision__carousel .carousel-inner .animate14 button {
    animation-duration: 1s;
    animation-delay: 1s;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none;
}


/* ABOUTUS */
.aboutUs {
    padding: 60px 0;
}

.aboutUs .aboutUs__left {
    padding: 0 20px 0 15px;

}

.aboutUs .aboutUs_item h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.aboutUs .aboutUs_item p:nth-of-type(1) {
    font-size: 2.1875rem;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

.aboutUs .aboutUs_item p:nth-of-type(2) {
    font-size: 1.0625rem;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.aboutUs .aboutUs_item a {
    display: block;
    text-decoration: none;
    font-size: 1, 125rem;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    margin-bottom: 15px;
    cursor: pointer;
}

.aboutUs .aboutUs_item .product {
    margin-top: 35px;
}

.aboutUs .aboutUs_item .product i {
    background-color: #009f4d;
    margin-right: 5px;
    opacity: .8;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 0.7rem;
    margin-right: 5px;

}

.aboutUs .aboutUs__right {
    margin-left: 10px;
}

.aboutUs .aboutUs__right img {
    border-radius: 8px;
}

.aboutUs .aboutUs__right .imgRight {
    margin-top: 1rem;
}

.aboutUs .aboutUs__right .imgRight img:first-child {
    margin-bottom: 1rem;
}

.aboutUs .aboutUs__right .imgRight img:last-child {
    margin-top: 1rem;
}

/* PRODUCT */
.products {
    background-color: #f7f7f7;
    padding: 48px 0;
}

.products .row {
    margin: 0 auto;
}

.products .product__left .aboutUs_item h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.products .product__left .aboutUs_item p:nth-of-type(1) {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #3f3a64;
}

.products .product__left .aboutUs_item p:nth-of-type(2) {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.products .product__left .aboutUs_item button {
    margin-top: 1rem;
    padding: 10px 45px;
    border-radius: 8px;
    transition: all 0.5s;
    cursor: pointer;
}

.products .product__right .row .col-6 {
    padding: 13px;
}

.products .product__right .row .col-6 .product__item {
    padding: 30px 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.products .product__right .row .col-6 .product__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.products .product__right .row .product__item img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.products .product__right .row .product__item h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    color: #3f3a64;
    cursor: pointer;
    transition: all 0.5s;
}

.products .product__right .row .product__item h2:hover {
    color: #009f4d;
}

/* SERVICES */
.services {
    padding: 3rem 0;
}

.services h1 {
    padding: 48px 0;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}

.services .main .card {
    border: 0px;
    text-align: center;
}

.services .main .card img {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.services .main .card .card-body {
    position: relative;
}

.services .main .card h5 {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    background: #fff;
    padding: 12px 25px;
    display: inline-block;
    border: 1px solid #00000000;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: all .5s;
    cursor: pointer;
    position: absolute;
    width: 70%;
    z-index: 10;
    bottom: 175px;
    margin-bottom: 0;
    transition: all .5s;
}

.services .main .card:hover h5 {
    color: #009f4d;
}

.services .main .card .card-body .card-text {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
    padding-top: 40px;
}

.services .main .card .card-body button {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.5s ease-in;
    color: #3f3a64;

}

.services .main .card .card-body button:hover {
    color: #009f4d;
}

.services .setOne {
    box-shadow: 2px 2px 2px 2px #009f4d;
    border-color: #009f4d;
}

/*-------------------RESPONSIVE----------------------*/
@media only screen and (min-width: 575.5px) {
    .Corpvision__header {
        border-bottom: none;
    }

    .aboutUs .aboutUs__right {
        margin-left: 0px;
        padding-bottom: 48px;

    }

    .aboutUs {
        padding: 60px 0 0 0;
    }

    .Corpvision__carousel img {
        width: 100vw;
        height: 100vh;
    }

    .Corpvision__carousel .carousel-inner .carousel-caption {
        margin: 0;
        height: 50vh;
    }
    
    .Corpvision__nav {
        position: relative;
        text-align: center;
    }

    .Corpvision__navsearch {
        position: absolute;
        right: 48px;
        top: 30px;
        transition: all 0.5s;
    }
    .Corpvision__header #navbarCorpVision .nav-item .nav-link {
        padding: .6rem 1rem;
    }
    .Corpvision__header #navbarCorpVision .nav-item .navDropdown{
        text-align: center;
        margin: 10px 10px 10px 136px;
        width: 70%;
    }
    
    .services .card{
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 767.5px) and (max-width: 1199.4px) {
    .Corpvision__header {
        transition: all 0.4s ease 0s;
        background: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    }

    .Corpvision__header .navbar-nav {
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;

    }

    .sticky {
        background-color: #fff;
    }

    .sticky #scrollColor a p {
        color: #3f3a64;
    }

    .Corpvision__header .navbar-collapse {
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }

    .Corpvision__header #navbarCorpVision .nav-item .nav-link {
        opacity: 1;
        padding: .6rem 1rem;
    }

    #carouselCorpvision img {
        height: 100vh;
        width: 100vw;
    }

    .Corpvision__nav {
        position: relative;
    }

    .Corpvision__navsearch {
        position: absolute;
        right: 48px;
        top: 30px;
        transition: all 0.5s;
    }

    #carouselCorpvision .carousel-caption h1 {
        font-size: 45px;
    }

    #carouselCorpvision .carousel-caption {
        left: 2%;
        top: 55%;
    }

    #carouselCorpvision .carousel-caption button {
        animation-name: appear;
        animation-duration: 0.4s;

    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .aboutUs .aboutUs__left {
        width: 100%;
    }

    .aboutUs .row .col-12 {
        padding: 20px 0;
    }

    .products .row .product__right {
        padding: 40px 0 0 0;
    }

    .Corpvision__header #navbarCorpVision .nav-item .navDropdown{
        text-align: center;
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 767.5px) and (max-width: 991.5px) {
    .services .main .row {
        position: relative;
    }

    .services .main .row .ser3 {
        position: absolute;
        top: 100%;
        left: 25%;
        padding-top: 20px;
    }
    .Corpvision__header #navbarCorpVision .nav-item .navDropdown{
        text-align: center;
        margin: 0px;
        position: relative;
        left: 174px;
        width: 65%;
        
    }
}

@media only screen and (min-width: 1199.5px) {

    .Corpvision__header .navCorpvision .navCorpvision__icon span {
        font-size: 30px;
    }

    .Corpvision__header .navCorpvision .navCorpvision__icon i {
        margin-right: 0;
    }

    .Corpvision__header .navCorpvision {
        margin-right: 100px;
    }

    .Corpvision__header .container {
        width: 100vw;
        margin: 0 auto;
    }
    .Corpvision__header #navbarCorpVision .nav-item .navDropdown{
        text-align: center;
        margin: 0;
        width: 100%;
    }
}