* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    color: #404040;
    /* background-color: #ffffff; */
    font-size: 1rem;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    background-color: #f8f9fa;
}

.project-title {
    text-align: center;
    max-width: 100%;
}

.project-title p {
    color: #7e7d7d;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.project-title h3 {
    font-size: 32px;
    line-height: 40px;
}

.project-content a.zoom {
    position: relative;
    overflow: hidden;
}

.project-content a.zoom img {
    transition: transform 0.5s ease;
    opacity: 1;
    height: auto;
    display: block;
    width: 100%;
}

.project-content a.zoom:hover img {
    transform: scale(1.1);
}

.overlay-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d2a37b3;
}

.project-content a.zoom:hover .overlay-hover {
    opacity: 1;
}


.overlay-hover .text {
    color: #ffffff;
    position: absolute;
    padding: 50px 40px;
    bottom: -100%;
    z-index: 2;
    transition: all 0.5s;
}

.overlay-hover .text .title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.overlay-hover .text .content {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.project-content a.zoom:hover .text {
    opacity: 1;
    bottom: -15%;
}

.company-logo {
    border-top: 1px solid #eee;
}

.company-logo .img {
    padding: 0 18px;
}

.radius-image {
    border-radius: 8px;
}

.project-progress .content-right .title-small {
    font-size: 14px;
    font-weight: 600;
    color: #7e7d7d;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}

.project-progress .content-right .title-big {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    display: block;
}

.progress-info {
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}

.progress-title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: #3f3a64;
    margin-bottom: 10px;
}

.info1 .progress-title {
    width: 80%;
}

.info2 .progress-title {
    width: 95%;
}

.info3 .progress-title {
    width: 60%;
}

.info4 .progress-title {
    width: 85%;
}

.progress-info .progress {
    height: 4px;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}

.progress .progress-bar {
    background-color: #009f4d;
}

.progress .progress-bar-striped {
    background-size: cover;
    background-image: none;
}

.progress .gradient-1 {
    color: #61fded;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.progress .gradient-1:before {
    content: "";
    position: absolute;
    left: 80%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-1:after {
    content: "";
    position: absolute;
    right: 20%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}

.progress .gradient-2 {
    color: #eece90;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.progress .gradient-2:before {
    content: "";
    position: absolute;
    left: 95%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-2:after {
    content: "";
    position: absolute;
    right: 5%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(75%, 0%);
}

.progress .gradient-3 {
    color: #5c51ff;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.progress .gradient-3:before {
    content: "";
    position: absolute;
    left: 60%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-3:after {
    content: "";
    position: absolute;
    right: 40%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}

.progress .gradient-4 {
    color: #e5529a;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.progress .gradient-4:before {
    content: "";
    position: absolute;
    left: 85%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.progress .gradient-4:after {
    content: "";
    position: absolute;
    right: 15%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.4;
    transform: translate(70%, 0%);
}
.testimonial{
    background-color: #f8f9fa;
}

.testimonial .title-small {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #7e7d7d;
    display: block;
}

.testimonial .title-big {
    font-size: 32px;
    line-height: 20px;
    font-weight: 700;
}

.testimonial-content {
    max-width: 900px;
    margin: auto;
    padding: 40px 30px;
    display: block;
    position: relative;
}

.carousel-inner .intro p {
    font-size: 18px;
    line-height: 28px;
    color: #666;
    opacity: 0.8;
}

.carousel-inner .name {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;
    margin-bottom: 80px;
}

.carousel-inner .name .img-fluid {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.testimonial-text h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.testimonial-text p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    text-align: left;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #213364;
    margin-right: 8px;
    display: inline-block;
}

.carousel-indicators li.active {
    width: 13px;
    height: 13px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #213364;
    margin-right: 8px;
}